.app-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.canvas {
  background-color: #ffffff;
  cursor: grab; /* 드래그 가능한 상태 */
}

.canvas:active {
  cursor: grabbing; /* 드래그 중인 상태 */
}

.toggle-chat {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  padding: 10px 20px;
  background-color: #1e1e2e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.toggle-chat:hover {
  background-color: #333;
}

.chat-section {
  position: absolute;
  top: 50px;
  right: 10px;
  width: 300px;
  height: 600px;
  background-color: #1e1e2e;
  color: white;
  border-radius: 5px;
  padding: 10px;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #121212;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.chat-messages .message {
  margin-bottom: 10px;
}

.chat-messages .message .sender {
  font-weight: bold;
  color: #ffa500;
}

.cursor {
  position: absolute;
  z-index: 1000;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.cursor-pointer {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

.cursor-username {
  position: relative;
  left: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
  display: inline-block;
}
